src/views/api/dorayaki/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Organization" targetNamespace="urn:Organization" xmlns:tns="urn:Organization" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">


  <message name="LoginRequest">
    <part name="login" type="xsd:string" />
    <part name="password" type="xsd:string" />
  </message>

  <message name="LoginResponse">
    <part name="result" type="xsd:string" />
  </message>

  <message name="StatusRequest">
    <part name="recipe_id" type="xsd:int" />
    <part name="recipe_name" type="xsd:string" />
    <part name="qty" type="xsd:int" />
  </message>

  <message name="StatusRequestResponse">
    <part name="code" type="xsd:int" />
  </message>

  <portType name="StatusPort">
    <operation name="login">
      <input message="tns:LoginRequest" />
      <output message="tns:LoginResponse" />
    </operation>
    <operation name="statusReq">
      <input message="tns:StatusRequest" />
      <output message="tns:StatusRequestResponse" />
    </operation>
  </portType>


  <binding name="StatusBinding" type="tns:StatusPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="urn:LoginAction" />
      <input>
        <soap:body use="literal" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="statusReq">
      <soap:operation soapAction="urn:StatusRequestAction" />
      <input>
        <soap:body use="literal" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="literal" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>

  <service name="WSDLService">
    <port name="StatusPort" binding="tns:StatusBinding">
      <soap:address location="http://172.17.0.1:5000/api/dorayaki/status-request.php" />
    </port>
  </service>
</definitions>